.browserName {
    display: block;
}

#searchBox {
    display: block;
}

@media screen and (orientation: portrait) {
    .linkBox {
         max-width: 320px;
    }

    .box {
        width: 23%;
    }

    .box:nth-child(n + 5) {
        order: 1;
    }
}

@media screen and (orientation: landscape) {
    .linkBox {
         max-width: 400px;
    }

    .box {
        width: 18%;
    }

    .box:nth-child(n + 6) {
        order: 1;
    }
}

.name {
    font-size: medium;
}

.box {
    position: relative;
}

img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    margin: auto 3px;
}

.name {
    width: auto;
    -webkit-line-clamp: 1;
    margin: 10px 0 10px 26px;
}