body {
    text-align: center;
    padding: 5px 5%;
    background: #fafafa;
}

p {
    text-align:center;
    margin: 20px 0 0px;
}

pre {
    margin: 5px 0;
    padding: 5px;
    background: #ddd;
}

button {
    margin: 15px;

    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;

    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 5px;
    font-size: .875em;
    padding: 10px 24px;
    color:#fff;
    background-color:#4285f4;
    border-radius:3px;
}
