<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.hazuki.yuzubrowser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="jp.hazuki.yuzubrowser.permission.myapp.signature"
        android:protectionLevel="signature" />

    <uses-permission android:name="jp.hazuki.yuzubrowser.permission.myapp.signature" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".BrowserApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_settings"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/CustomThemeBlack"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".BrowserActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/BrowserMinThemeBlack.NoTitle">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HandleIntentActivity"
            android:theme="@style/BrowserMinThemeBlack.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/x-webarchive-xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.speech.action.VOICE_SEARCH_RESULTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/open_in_browser"
            android:name=".ShareActivity"
            android:theme="@style/BrowserMinThemeBlack.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.activity.MainSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/pref_settings"
            android:theme="@style/CustomThemeBlack.Pref" />
        <activity
            android:name=".action.view.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/pref_settings" />
        <activity
            android:name=".action.view.ActionListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".action.view.ActionListManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".search.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/BrowserMinThemeBlack.Transparent" />
        <activity
            android:name=".pattern.url.PatternUrlActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/pref_pattern_match" />
        <activity
            android:name=".debug.DebugActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".debug.DebugFileListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".debug.TextEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".debug.ActivityListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".debug.EnvironmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".action.view.ActionStringActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <provider
            android:name=".search.SuggestProvider"
            android:authorities="jp.hazuki.yuzubrowser.search.SuggestProvider"
            android:exported="false"
            android:permission="jp.hazuki.yuzubrowser.permission.myapp.signature"
            android:readPermission="jp.hazuki.yuzubrowser.permission.myapp.signature"
            android:writePermission="jp.hazuki.yuzubrowser.permission.myapp.signature" />

        <service
            android:name=".download.DownloadService"
            android:exported="false" />

        <activity
            android:name=".download.DownloadListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/download" />
        <provider
            android:name=".browser.SafeFileProvider"
            android:authorities="jp.hazuki.yuzubrowser.browser.SafeFileProvider"
            android:exported="false"
            android:permission="jp.hazuki.yuzubrowser.permission.myapp.signature"
            android:readPermission="jp.hazuki.yuzubrowser.permission.myapp.signature"
            android:writePermission="jp.hazuki.yuzubrowser.permission.myapp.signature" />
        <provider
            android:name=".download.DownloadFileProvider"
            android:authorities="${applicationId}.downloadFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name=".history.BrowserHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/history" />
        <activity
            android:name=".bookmark.view.BookmarkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/bookmark" />
        <activity
            android:name=".gesture.AddGestureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".gesture.GestureListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".gesture.GestureTestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".action.item.startactivity.StartActivityPreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_start_activity_setting" />
        <activity
            android:name=".action.item.CustomPreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_custom_setting"
            android:theme="@style/BrowserMinThemeBlack.Transparent" />
        <activity
            android:name=".useragent.UserAgentListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenSize"
            android:label="@string/action_useragent_setting"
            android:theme="@style/BrowserMinThemeBlack.Transparent" />
        <activity
            android:name=".webencode.WebTextEncodeListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_web_encode_setting"
            android:theme="@style/BrowserMinThemeBlack.Transparent" />
        <activity
            android:name=".userjs.UserScriptListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/pref_userjs_manage" />
        <activity
            android:name=".userjs.UserScriptEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/userjs_edit" />
        <activity
            android:name=".utils.view.filelist.FileListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".resblock.ResourceBlockListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/pref_resblock_manage" />
        <activity
            android:name=".action.view.SoftButtonActionArrayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".action.view.SoftButtonActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".useragent.UserAgentSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_useragent_setting" />
        <activity
            android:name=".webencode.WebTextEncodeSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_web_encode_setting" />
        <activity
            android:name=".action.view.CloseAutoSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/pref_close_auto_select" />
        <activity
            android:name=".speeddial.view.SpeedDialSettingActivity"
            android:label="@string/pref_speed_dial_setting" />
        <activity
            android:name=".download.FastDownloadActivity"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/BrowserMinThemeBlack.Transparent" />
        <activity
            android:name=".gesture.multiFinger.MultiFingerSettingsActivity"
            android:label="@string/pref_multi_finger_gesture_settings" />
        <activity
            android:name=".help.HelpActivity"
            android:label="@string/pref_help"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".theme.ThemeImportActivity"
            android:label="@string/theme_importer"
            android:theme="@style/BrowserMinThemeBlack.Transparent"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.yuzutheme" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
        </activity>
    </application>

</manifest>